.user-details{
    flex: 1 1 300px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #e1e6ed;
    border-radius: 10px;
    font-weight: 500;
}
.heading{
    font-weight: bold;
    margin: 10px;
    font-size: 16px;
}